:root {
  --green: #9fd533;
  --lightBackground: #f5f5f5;
  --muteText: #bfbfbf;
  --shadowColor: rgba(132, 132, 132, 0.2);
  --boxShadow: 0 2px 2px 0 var(--shadowColor);
}

@custom-media --small (max-width: 400px);
@custom-media --medium (max-width: 800px);
